body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Warna latar belakang */
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    border-radius: 50%; /* Mengubah bentuk gambar profil menjadi bulat */
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #ffd700; /* Warna saat tautan disorot */
  }
  
  section {
    padding: 20px;
    background-color: #fff; /* Warna latar belakang untuk setiap bagian */
    margin-bottom: 20px;
    border-radius: 5px; /* Membuat tepi bagian menjadi melengkung */
    text-align: center;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project h3 {
    margin-top: 0;
  }
  
  a {
    color: #007bff;
  }
  
  a:hover {
    color: #0056b3; /* Warna saat tautan disorot */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3; /* Warna saat tombol disorot */
  }